@charset "utf-8";
:root{
    --primary-color: #3498db;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url(imagewns/pexels-jplenio-1114897.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}