@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
:root{
    --cor1: #D98E04;
    --cor2: #BF6B04;
    --cor3:#8C3503;
    --cor4:#592202;
}
@keyframes fundo {
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    /*background-image: url(imagewns/pexels-jplenio-1114897.jpg);*/
    background:linear-gradient(50deg,#1eb1d6, #497a86, #076981);
    background-size: 300%  300%;
    animation: fundo 15s ease infinite;
}
header h1{
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
    font-family: 'Matemasie' ,sans-serif, Courier New, Courier, monospace;
    margin-bottom: 50px;
    color: var(--cor1);
}
form{
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #BF6B04;
    text-align: center;
    box-shadow: 3px 3px 6px  rgba(0, 0, 0, 0.301);
    border-radius: 10px 20px;

}
form input{
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 150px;
}
form p.inline{
    display: inline-block;
}
form label{
    display: block;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}
form button{
    display: block;
    width:150px;
    padding: 20px;
    margin: 60px auto;
    font-size: large;
}